In [1]:
# import dependencies
import pandas as pd
import csv
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import datetime
from datetime import datetime
import calendar #necessary to convert a timestamp into a date
#from datetime import datetime
import time
import seaborn as sns
from __future__ import division

In [2]:
# Run processing methods
%run '/Users/louis/Documents/DataScience/Instacart/processing_instacart.py'

In [3]:
# Load train and test trips
path_train = path_train = "/Users/louis/Documents/DataScience/Instacart/data/train_trips.csv"
data_trips_train = pd.read_csv(path_train)
data_raw_train = pd.read_csv(path_train)
data_raw_train = pd.read_csv(path_train)
# Load test set
path_test = "/Users/louis/Documents/DataScience/Instacart/data/test_trips.csv"
data_trips_test = pd.read_csv(path_test)
# Load order items
path_items = "/Users/louis/Documents/DataScience/Instacart/data/order_items.csv"
data_items = pd.read_csv(path_items)

In [4]:
# Split training set into X and y - get exact same format for X_train and X_test
#hash_output = preprocess_train(data_trips_train)
#X_train = hash_output['X_train']
#y_train = hash_output['y_train']
data = process_data(data_trips_train, data_items, data_raw_train)
data_trips_test['shopping_started_at'] = data_trips_test['shopping_started_at'].map(lambda date: datetime.strptime(date, '%Y-%m-%d %H:%M:%S'))
#X_train = process_data(X_train,data_items,data_raw_train)
data.head()

,fulfillment_model,store_id,trip_length,hour,day_of_week,department_count,quantity,shopper_efficiency
trip_id,,,,,,,,
3119519,1,6,1620,7,1,11,39.0,<3000
3119513,1,1,2160,7,1,8,183.0,<2500
3119516,1,1,1080,7,1,5,9.0,<2000
3119792,1,1,5160,7,1,10,92.0,<2500
3119922,1,1,5340,7,1,7,186.0,<2000

In [5]:
data.columns.values

array(['fulfillment_model', 'store_id', 'trip_length', 'hour',
       'day_of_week', 'department_count', 'quantity', 'shopper_efficiency'], dtype=object)

In [6]:
# dummify and create y
y = data['trip_length']
del data['trip_length']

In [7]:
data_dumm = pd.get_dummies(data, columns = ['hour', 'day_of_week','store_id', 'shopper_efficiency'])
data_dumm.head()

,fulfillment_model,department_count,quantity,hour_10,hour_11,hour_12,hour_13,hour_14,hour_15,hour_16,...,shopper_efficiency_<2000,shopper_efficiency_<2500,shopper_efficiency_<3000,shopper_efficiency_<3500,shopper_efficiency_<4000,shopper_efficiency_<4500,shopper_efficiency_<500,shopper_efficiency_<5000,shopper_efficiency_<5500,shopper_efficiency_>5500
trip_id,,,,,,,,,,,,,,,,,,,,,
3119519,1,11,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3119513,1,8,183.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3119516,1,5,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3119792,1,10,92.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3119922,1,7,186.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from sklearn import linear_model
from sklearn.cross_validation import train_test_split
from sklearn import cross_validation
from sklearn import metrics

In [9]:
# Create test and train set
X_train, X_test, y_train, y_test = cross_validation.train_test_split(data_dumm, y, test_size=0.2, random_state=0)

In [10]:
y_test.shape

(23413,)

In [11]:
lr = linear_model.LinearRegression(fit_intercept = True)
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
# predict
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [ ]:
delta = y_train_pred - y_train
delta = delta.map(lambda x: abs(x))
delta.head()

In [13]:
def compute_delta(y_pred, y_real):
    y_pred_df = pd.DataFrame(y_pred)
    delta = y_pred_df - y_real
    delta = delta.map(lambda x: abs(x))
    return delta.mean()

In [ ]:
compute_delta(y_train_pred, y_train)

In [ ]:
print 'Average error on train: %s' %compute_delta(y_train_pred, y_train)
print 'Average error on est: %s' %compute_delta(y_test_pred, y_test)

AttributeError: 'DataFrame' object has no attribute 'map'

average 2456.17693037
std 1425.95875201

In [25]:
894/2456

0.36400651465798045

In [ ]:
todo :
    1. check why merge fucks up
    2. incorporate shopeer categ
    3. add departments

In [35]:
a = {'a':[1,2,3],'b':[1,2,3], 'c':[1,2,3]}
df = pd.DataFrame(a)
df.index = [7,8,9]

In [36]:
df

   a  b  c
7  1  1  1
8  2  2  2
9  3  3  3

In [37]:
df.merge(df, left_index = True, right_on = "a", how = "left")

   a  a_x  b_x  c_x  a_y  b_y  c_y
9  7    1    1    1  NaN  NaN  NaN
9  8    2    2    2  NaN  NaN  NaN
9  9    3    3    3  NaN  NaN  NaN

In [32]:
df.merge(df, left_index = True, right_index = True, how = "left")

   a_x  b_x  c_x  a_y  b_y  c_y
0    1    1    1    1    1    1
1    2    2    2    2    2    2
2    3    3    3    3    3    3

In [33]:
df

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3

In [ ]:
X_train.merge(_count_departments(data_items), right_index = True, left_index = True, how = 'left')

In [ ]:
def _add_count_departments(data_items):
    # create table of trip_id/count_departments
    count_department = pd.pivot_table(data_items, index = ['trip_id', 'department_name'])
    count_department.reset_index(drop = False, inplace = True)
    count_department = pd.pivot_table(count_department, index = 'trip_id', aggfunc = 'count')['department_name']
    return pd.DataFrame(count_department)
count_dpt = _add_count_departments(data_items)

In [ ]:
X_train = X_train.merge(count_dpt, right_index = True, left_index = True, how = "left")

In [ ]:
X_train.head()

In [ ]:
count_dpt.head()

In [ ]:
def add_count_departments(data_items, data_features):
    # create table of trip_id/count_departments
    count_department = pd.pivot_table(data_items, index = ['trip_id', 'department_name'])
    count_department.reset_index(drop = False, inplace = True)
    count_department = pd.pivot_table(count_department, index = 'trip_id', aggfunc = 'count')['department_name']
    #join
    output = pd.concat([data_features, count_department], axis = 1)
    output.rename(columns={'department_name': 'department_count'}, inplace=True)
    return output

In [ ]:
X_train.head()

In [ ]:
def _change_model(data):
    data['fulfillment_model'] = data['fulfillment_model'].map({'model_1': 1, 'model_2': 0})
    return data

In [ ]:
_change_model(X_train)

In [ ]:
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn import cross_validation
from sklearn import metrics

In [ ]:
X_train.head()

In [ ]:
del X_train['shopper_id']
X_train = X_train.merge(y_train, )

In [ ]:
def dummify_pivot(x):
    if np.isnan(x):
        return 0
    else:
        return 1
# define departments to keep
departments_to_keep = data_items['department_name'].value_counts(dropna = False).index.values[0:20]
# Generate pivot and create dummy columns for each department
pivot_department = pd.pivot_table(data_items, index = 'trip_id', columns = 'department_name', aggfunc = "count")['item_id']
pivot_department = pivot_department[departments_to_keep]
dummies_department = pivot_department.applymap(dummify_pivot)
polynom_departments = preprocessing.PolynomialFeatures(degree = 2, interaction_only = True)

# define dataframe of departments interactions
df_polynom = pd.DataFrame(polynom_departments.fit_transform(dummies_department))

In [ ]:
X_train = X_train.merge(df_polynom, right_index = True, left_index = True, how = 'left')

In [ ]:
df_polynom.head()

In [ ]:
polynom_departments = preprocessing.PolynomialFeatures(degree = 2, interaction_only = True)

In [ ]:
data_raw_train['trip_id'].value_counts(dropna = False)

In [47]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3